/* body {
    background-color: lightgray;
} */

/* 
html {
  font-size: 62.5%;
  box-sizing: border-box; 
  scroll-snap-type: y mandatory;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px; 
  font-family: 'Krub', sans-serif;
  background: #dbd3d3;
  margin: auto;
}

img{
    float:left;
    max-width: 100%;
  }
header{
    height:155px;
    background-color:#74abdf;
    padding:45px 0 0 30px;
   
      
  }
header h2 {
    font-size:60px; 
    color: #210561;
    font-family:Georgia, 'Times New Roman', Times, serif;   
} */
